doctype html
html(lang='en')
	head
		title Titre
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="assets/styles/main.css")
		script(async, src="assets/scripts/app.js")
	body
		.container
			h1.title
				| Simple collapssing
			button.btn.btn-outline-primary(role="button") Afficher l'article
			.collapse#collapse
				h1 titre
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum delectus hic ipsa minima quasi reiciendis voluptas voluptates? Fugiat minima, repellendus.
