doctype html
html(lang='en')
	head
		title Titre
		meta(charset='UTF-8')
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="assets/styles/main.css")
		script(async, src="assets/scripts/app.js")
	body
		.container
			h1.title
				| Portfolio
			.portfolio
				.project
					img.project__img(src="https://picsum.photos/1000/300/?image=0", alt="", srcset="")
					h2.project__name p1
					.project__description d1
					.project__body.visible
						h3 titre
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, exercitationem?
				.project__body.visible
						h3 titre
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, exercitationem?
				
				.project
					img.project__img(src="https://picsum.photos/1000/300/?image=10", alt="", srcset="")
					h2.project__name p2
					.project__description d2
					.project__body
						h3 titre
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, exercitationem?
				.project
					img.project__img(src="https://picsum.photos/1000/300/?image=2", alt="", srcset="")
					h2.project__name p3
					.project__description d3
					.project__body
						h3 titre
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, exercitationem?
				.project
					img.project__img(src="https://picsum.photos/1000/300/?image=3", alt="", srcset="")
					h2.project__name p 4
					.project__description d4
					.project__body
						h3 titre
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, exercitationem?
				.project
					img.project__img(src="https://picsum.photos/1000/300/?image=1", alt="", srcset="")
					h2.project__name
					.project__description
					.project__body
						h3 titre
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, exercitationem?
				.project
					img.project__img(src="https://picsum.photos/1000/300/?image=5", alt="", srcset="")
					h2.project__name
					.project__description
					.project__body
						h3 titre
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, exercitationem?
				.project
					img.project__img(src="https://picsum.photos/1000/300/?image=8", alt="", srcset="")
					h2.project__name
					.project__description
					.project__body
						h3 titre
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, exercitationem?
