body
  background: #e1dee9
  color: #6e7271
  padding-top: 200px
.container
  max-width: 1200px
  padding: 0 15px
  margin: auto
  display: block
.btn
  background: none
  border: 1px solid #a09abc
  color: #a09abc
  background: #eee
  padding: 10px 15px
  font-size: 1rem
  line-height: 1.5
  font-family: sans-serif
  border-radius: 2px
  transition: all .3s
  cursor: pointer
  &:hover
    color: #fff
    background: #a09abc
.collapse
  background: #fff
  padding: 10px 30px
  margin-top: 20px
  border-radius: 3px
  max-height: 1000px
  display: none